* {
	font-family:tahoma;
}
div.message {
	border: 1px solid #ccc;
}
canvas {
	display: inline-block;
	border:1px solid #808080;
	vertical-align: top;
}
.options {
	display: inline-block;
	border: 1px solid #808080;
	vertical-align: top;
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.option {
	display: block;
	border: 1px solid #cccccc;
	vertical-align:top;
	padding: 5px;
}
.selected {
	background: #808080;
	color: #ffffff;
}
.content {
	display: inline-block;
	border: 1px solid #808080;
	vertical-align: top;
	padding: 5px;
}

