* {
	font-family:tahoma;
}
div.message {
	border: 1px solid #ccc;
}
canvas {
	display: inline-block;
	border:1px solid #000000;
	vertical-align: top;
}
.options {
	display: inline-block;
	border:1px solid #000000;
	vertical-align: top;
}
.option {
	display: block;
	border: 1px solid #cccccc;
	vertical-align:top;
}

